{% load bootstrap3 %}
<META HTTP-EQUIV="REFRESH" CONTENT="20">
{% if list_content %}
    {% for value in list_content %}
        <b>Numero de Celular:</b> {{ value.phone }} <br>
        <b>Fecha: </b>{{ value.date_creation }} <br>
    {% endfor %}
{% endif %}
<br>

{% if list_content %}
<table class="table table-striped" border="2px" cellpadding="5px">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Mensaje</th>
      <th colspan="2">Validez</th>
    </tr>
  </thead>
    {% for value in list_content %}
        <tr>
        <td><img alt='Embedded Image' src='data:image/png;base64,{{  value.convert_image250x250 }}'></td>
        <td>{{ value.message }}</td>
        <td><input type="button" onclick=" location.href='/whatsapp/is_valid/{{value.id}}/' " value="Es valido" name="btn_valid" /></td>
        <td><input type="button" onclick=" location.href='/whatsapp/no_valid/{{value.id}}/' " value="No es valido" name="btn_novalid" /></td>
        </tr>
    {% endfor %}
</table>
{% else %}
Sin valores
{% endif %}
<br>
