{% load bootstrap3 %}
<META HTTP-EQUIV="REFRESH" CONTENT="10">

{% if list_msg %}
<table class="table table-striped" border="1px" cellpadding="5px" frame="void">
  <thead>
    <tr>
        <th>Fecha</th>
        <th>Numero de Celular</th>
        <th>Imagen</th>
        <th>Mensaje</th>
        <th>Validez</th>
        <th>Observaciones</th>
    </tr>
  </thead>
    {% for value in list_msg %}
        <tr>
            <td>{{ value.date_creation }}</td>
            <td>{{ value.phone }}</td>
            <td><img alt='Embedded Image' src='data:image/png;base64,{{  value.hola }}'></td>
            <td>{{ value.message }}</td>
            <td>{{ value.is_valid }}</td>
            <td>{{ value.is_read }}</td>
    {% endfor %}
</table>
{% else %}
Sin valores
{% endif %}
<br>
</tr>
