{% load bootstrap3 %}
<META HTTP-EQUIV="REFRESH" CONTENT="10">

<h2>Todos los mensajes...</h2>
<UL type = circle>
    <LI><a href="/whatsapp/"> <- Volver</a></LI>
</UL>

{% if list_msg %}

<table class="table table-striped" border="1px" cellpadding="5px" frame="void">
  <thead>
    <tr>
        <th>Fecha</th>
        <th>Numero de Celular</th>
        <th>Imagen</th>
        <th>Mensaje</th>
        <th>Validez</th>
        <th>Estado</th>
    </tr>
  </thead>
    {% for value in list_msg %}
    <form>
        <tr>
            <td>{{ value.date_creation }}</td>
            <td>{{ value.phone }}</td>
            <td><img alt='Embedded Image' src='data:image/png;base64,{{  value.convert_image }}'></td>
            <td>{{ value.message }}</td>
            <td>
                {% if value.is_valid == True %}
                    Es Valido
                {% else %}
                    No es valido
                {% endif %}
            </td>
            <td>
                {% if value.is_read == True %}
                    Mensaje leido
                {% else %}
                    Mensaje no leido
                {% endif %}
            </td>
        </tr>
    </form>
    {% endfor %}
</table>
{% else %}
Sin valores
{% endif %}
<br>

