{% extends "base.html" %}
{% block content %}

{% if messages %}
<div class="row">
    {% for value in messages %}
    <div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src='data:image/png;base64,{{value.getImage}}'>
        </div>
        <div class="card-content">
          <a class="card-title activator text-darken-4" href='/appmobile/view_message/{{value.id}}/'>{{value.imei_device}}</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <p>
          {{value.latitude}}</td>
          {{value.longitude}}</br>
          {{value.altitude}}</br>
          {{value.orientation}}</br>
          {{value.speed}}</br>
          {{value.number_phone}}</br>
          {{value.date_creation}}</br>
          {{value.fire_percentage}}</br>
          {{value.message}}</br>
          </p>
        </div>
    </div>
    </div>
    {% endfor %}
</div>    
    <div class="pagination">
        <span class="step-links">
            {% if messages.has_previous %}
                <a href="?page={{ messages.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pagina {{ messages.number }} de {{ messages.paginator.num_pages }}.
            </span>

            {% if messages.has_next %}
                <a href="?page={{ messages.next_page_number }}">siguiente</a>
            {% endif %}
        </span>
    </div>
</div>
{% else %}
Sin valores
{% endif %}
<br>
{% endblock %}
