{% extends "base.html" %}

{% block content %}
  {% if list_content %}
    {% for value in list_content %}
    <h3>{{value.imei_device}}</h3>
    <img class="activator" src='data:image/png;base64,{{value.photo}}'>

    <blockquote>
        {{ value.message }}
    </blockquote>  
    
    <p>
      {{value.latitude}}</br>
      {{value.longitude}}</br>
      {{value.altitude}}</br>
      {{value.orientation}}</br>
      {{value.speed}}</br>
      {{value.number_phone}}</br>
      {{value.date_creation}}</br>
      {{value.fire_percentage}}</br>
      {{value.message}}</br>
    </p>
    {% endfor %}
  {% else %}
    <h1>Sin valores</h1>
  {% endif %}

<script>
  function initialize() {
    var mapCanvas = document.getElementById('map');
    var mapOptions = {
      center: new google.maps.LatLng(44.5403, -78.5463),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
  }
</script>

{% endblock %}


<!--      {% for value in list_content %}
      <blockquote>
        {{ value.message }}
      </blockquote>

      <a class="btn waves-effect waves-light green" href='/whatsapp/is_valid/{{value.id}}/'>Es valido <i class="material-icons right">done</i></a>

      <a class="btn waves-effect waves-light red" href='/whatsapp/no_valid/{{value.id}}/'>No Es valido <i class="material-icons right">not_interested</i></a>
      </br>
      </br>
      <img class="responsive-img" alt='Embedded Image' src='data:image/png;base64,{{  value.image_FullSize }}'></td>
      {% endfor %}
-->
