{% extends "base.html" %}
{% block content %}
  {% if list_content %}
  {% for value in list_content %}

    <h3>{{value.imei_device}}</h3>
    <div>
      <img class="responsive-img" src='data:image/png;base64,{{value.getImage}}'>
    
      <div id="map" class="responsive-img" >
        <div style="position: relative; left: 0px; top: 0px; z-index: 2; width: 50%; height: 50%;"></div>
      </div>  
    </div>
    

    <blockquote>
        <h5>{{ value.message }}</h5> 
    </blockquote>  
    
    <div class="row">
      <div class="col s12 m10">
        <div class="card-panel red accent-4">
          <h5 class="white-text"> altitude: {{value.altitude}}</h5>
          <h5 class="white-text"> orientation: {{value.orientation}}</h5>
          <h5 class="white-text"> speed: {{value.speed}}</h5>
          <h5 class="white-text"> number_phone: {{value.number_phone}}</h5>
          <h5 class="white-text"> date_creation: {{value.date_creation}}</h5>
          <h5 class="white-text"> fire_percentage: {{value.fire_percentage}}</h5>
        </div>
      </div>
    </div>

    <script>
      function initMap() {
      var myLatLng = {lat: {{value.latitude}}, lng: {{value.longitude}}};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
      }
      google.maps.event.addDomListener(window, 'load', initMap);
    </script>
    </br>
    {% endfor %}    
  {% else %}
    <h1>Sin valores</h1>
  {% endif %}
{% endblock %}