{% load bootstrap3 %}

{% if station %}
<b>Estacion:</b> {{ station.name }}
<b>Descripcion:</b> {{ station.num_station}}
{% endif %}
<br>

{% if list_values %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Presion Admosferica</th>
      <th>Temperatura</th>
      <th>Humedad</th>
      <th>Velocidad del Viento</th>
      <th>Hora</th>
    </tr>
  </thead>
    {% for value in list_values %}
        <tr>
        <td>{{ value.pressure }}</td>
        <td>{{ value.temperature }}</td>
        <td>{{ value.humidity }}</td>
        <td>{{ value.wind_speed }}</td>
        <td>{{ value.time }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
Sin valores
{% endif %}
<br>
<a class="btn btn-default" href="/station/{{station.id}}/values/add/">Add nuevos valores</a>




